*{
    box-sizing:border-box ;
}
*{
    margin: 0;
    
}
.gamer{
    color: #0B0223;
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.span{
    color: #FF42A5;
}
nav{
    display: flex;
    background: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0,0,0,0.05);
    padding: 1.5cqw 10cqw;
    justify-content: space-between;
    align-items: center;
}

.nav-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav ul{
    display: flex;
    list-style: none;
}
nav li{
    margin-right: 1.5rem;
    align-self: center;
}
nav li a{
    text-decoration: none;
    color: #333;
    border-radius: 5px;
}
.nav-btn{
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    align-self: center;
    border-radius: 0.5rem;
    background-color: rgba(11,2,35,0.1);
    gap: 1rem;
}
#youtube{
    color: red;
    font-size: 10px;
}
.banner-container{
    display: flex;
    justify-content: space-between;
}
.banner-description{
    margin-left: 200px;
    margin-top: 148px;
    
}
.play{
    color: #0B0223;

font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
}
.goat{
color:  #a32b8b;

font-family: Work Sans;
font-size: 95px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
}
.info{
    color: #534C64;

font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: lowercase;

}
.btn{
    gap: 10px;
}
.btn-pink{
    border-radius: 48px;
background: #FF42A5;
padding: 5px 20px 5px 20px;
border: none;
margin-top: 40px;
color: white;
}
.btn-blue{
    border-radius: 48px;
    background: #4EC5F7;
    padding: 1cqw 2cqw;
    
    border: none;
    margin-top: 40px;
    color: white;
    }

.banner-container{
    margin-bottom: 94px;
}


.online-content{
    text-align: center;
    margin-bottom: 100px;
}
.online-games{
    position: relative;
}

.videos{
    margin-top: 48px;
    display: flex;
    margin-left: 90px;
    gap: 10px;
    margin-bottom: 100px;
    
}
.online{
    color: #0B0223;

font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.play-instantly{
    
    display: flex;
    gap:8cqw;
    justify-content: center;
    align-items: center;
    margin-bottom: 5cqw;
    margin-left: 50px;
    margin-top: 0px;
}
.content-header{
    color: #0B0223;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px;
}
.play-colour{
    color: rgb(214, 69, 94);
}
.game-img{
    flex: 1;
    position: relative;
}
.game-content{
    flex: 1;
}
.img5{
    width: 80%;
}
.img6{
    position: absolute;
    top: 40%;
    left: 70%;
    width: 40%;
}

/* .ins-heading{
    text-align: right;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px;
}
.play-instantly{
    justify-content: space-between;
}
.ins-heading{
    text-align: right;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px; 
margin-left: 439px;
}
*/
.feature{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 38px;
}

.btn{
    width: 243px;
height: 80px;
flex-shrink: 0;
    border-radius: 40px;
background: #FFF;
display: flex;
border: none;
cursor: pointer;
}
#btn-border{
    border: 1px solid #FF42A5;
}
.feature-name{
    padding: 29px 20px 28px 20px;
    
    
}

.footer{
    margin-top: 128px;
    background: #0B0223;
    padding-top: 120px;
    padding-bottom: 130px;
}
.footer-gamer{
    text-align: center;
    color: #FFF;
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.footer-about{
    display: flex;
    justify-content: space-evenly;
    color: #FFF;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin: 66px 400px 66px 400px;
}
.fa-brands{
    font-size: 40px;
    gap: 100px;
}
.icon{
    text-align: center;
     color: #FFF;
}
.footer-info{
    display: flex;
    color: #FFF;
    justify-content: space-evenly;
    margin: 64px 500px 20px 500px;
}
.short-content{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

/* responsive media queries */

@media  screen and (max-width: 600px) {
   
    nav{
        flex-direction:column;
        gap: 1rem;
    }
    .nav-container{
        display: flex;
        margin-top: 10px;
        margin-right: 30px;
        align-items: center;
    gap: 1rem;
    }
    ul{
        flex-direction: column;
        gap: 1rem;
        margin-right: 100px;
    }
    .banner-container{
        flex-direction: column;
    
    }
    .banner-description{
        
        color: #0B0223;
text-align: center;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
margin: 20px 212px 100px 100px;
    }
    .play{
        font-size: 12px;
    }
    .goat{
        font-size: 24px;
    }
    .info{
        font-size: 6px;
    }
    .btn{
        display: flex;
        gap: 1rem;
        margin: 0px 100px 165px 0px;
        
    }
    .btn-pink{
       padding: 5px 10px;
    }
    .btn-blue{
        padding: 5px 10px;
    }
    .banner-img{
        width: 80%;
        margin-top: -250px;
        

    }
    
    .online{
        font-size: 12px;
        margin-top: 30px;
        
    }
    .online-content{
        margin-right: 100px;
    }
    .videos{
        margin-right: 100px;
        
    }

    .play-instantly{
        flex-direction: column;
    }
    .instantly-content{
        margin-left: 100px;
        
    }
    .all-game{
        display: flex;
        flex-wrap: wrap;
        
    }
    

}